@{
    ViewData["Title"] = "Contact Me Page";
}
<div class="container" style="margin-top: 150px;">
    <div class="container text-center" style="border: 2px solid orange; padding: 30px; margin-bottom: 75px;">
        <h2>Contact Me</h2>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <p>Thanks for reaching out! If you are interested in purchasing any of my photographs, have a photo shootout you'd like to discuss with me, or just would like to simply meet, I'm here for you! </p>
            <br>
            <p><strong>Phone:</strong> (540) 226-6470</p>
            <p><strong>Email:</strong> <a href="mailto:gibsoncadam@gmail.com">gibsoncadam@gmail.com</a></p>
        </div>
        <div class="col col-md-6">
            <img src="~/images/ContactMePhoto.jpg" alt="" style="width: 35vw;">
        </div>
    </div>


</div>
