@{
    ViewData["Title"] = "Home Page";
}
    
    <div class="homeBannerImage">
    </div>
    <a id="aboutMe" style="margin-bottom: 100px;"></a>
    <div class="centerText center">
        @* <div class="boxAround"> *@
            <img src="~/images/WET'n WOW.png" alt="" style="width: 400px;">
        @* </div> *@
    </div>
    <div class="wrapper">
        <div class="container text-center" style=" margin-top: 150px;">
            <h2>ABOUT ME</h2>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aperiam laborum assumenda,
                explicabo, quasi, id dignissimos voluptas dolor iste nihil doloremque vero! Exercitationem nesciunt iure
                nostrum minima eum? Quis, est.</p>
            <!-- 3 columned breakdown for images -->
            <div class="row" style="margin-top: 200px;">
                <div class="col col-md-4 text-center">
                    <h4>Underwater</h4>
                    <div class="card">
                        <img class="img-fluid " src="~/images/IMG_8964.jpg" alt="test">
                        <div class="middle">
                            <a href="underwater">
                            <div class="text">View Gallery</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 text-center">
                    <h4>Landscapes</h4>
                    <div class="card">
                        <img class="img-fluid " src="~/images/IMG_8964.jpg" alt="test">
                        <div class="middle">
                            <a href="landscape">
                            <div class="text">View Gallery</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 text-center">
                    <h4>Portraits</h4>
                    <div class="card">
                        <img class="img-fluid " src="~/images/IMG_8964.jpg" alt="test">
                        <div class="middle">
                            <a href="portrait">
                            <div class="text">View Gallery</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
  